
.topic {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: #f1f8ff;
  border-radius: 5px;
  cursor: pointer;
  a {
    color: #0366d6;
    text-decoration: none;
    p {
      margin: 0;
    }
  }

}
